---
import "plyr-react/plyr.css";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { marked } from "marked";

import { siteTitle, siteTagline } from "../config";
import Layout from "../layouts/BaseLayout.astro";
import FancyUnderline from "../components/FancyUnderline.astro";
import MediaPlayer from "../components/MediaPlayer";
import ContactForm from "../components/ContactForm";
import InfoIcon from "../components/InfoIcon.astro";

import getSeparateFirstWord from "../lib/getSeparateFirstWord";

import {
  frontmatter as HeroFrontmatter,
  Content as HeroContent,
} from "../content/page-partials/hero.md";
import { Content as BioContent } from "../content/page-partials/bio.mdx";
import { Content as MusicContent } from "../content/page-partials/music.md";
import { Content as TeachingContent } from "../content/page-partials/teaching.mdx";
import { Content as ContactContent } from "../content/page-partials/contact.mdx";

// import ImageBradleyBrick from "../assets/img/bradley/bradley-brick.jpg";
import ImageBradleyBW from "../assets/img/bradley/bradley-bw.jpg";
import ImageBradleyNew from "../assets/img/bradley/bradley-new.jpg";
// import ImageBradleyHeadshot from "../assets/img/bradley/bradley-headshot4.jpg";
import ImageBradleyHands from "../assets/img/bradley/bradley-manuals.jpg";
import ImageBradleyOutside from "../assets/img/bradley/bradley-outside.jpg";

type TCta = {
  text: string;
  href: string;
};

const testimonialsList = await getCollection("testimonials");

const allVideoTracks = (await getCollection("video-tracks")).filter(
  (item) => !item.data.exclude
);
const allAudioTracks = (await getCollection("audio-tracks")).filter(
  (item) => !item.data.exclude
);
const videoList = await Promise.all(
  allVideoTracks.map(async (item) => {
    const { data } = item;
    const content = await marked.parse(item.body);
    return { ...data, list: "video-tracks", notes: content };
  })
);
const audioList = await Promise.all(
  allAudioTracks.map(async (item) => {
    const { data } = item;
    const content = await marked.parse(item.body);
    return { ...data, list: "audio-tracks", notes: content };
  })
);
---

<Layout>
  <div class="grid gap-32 lg:gap-48 xl:gap-56">
    <!-- HERO BLURB SECTION --------------------------------------------------------------------------------- -->
    <section class="container grid gap-10 lg:grid-cols-2">
      <div class="full-bleed">
        <Image
          src={ImageBradleyBW}
          alt="Bradley, seated and smiling, looking at the camera, with his left arm leaning on the piano"
          loading="eager"
          class="sticky top-0"
          widths={[300, 600, 800, 1000, 1200, 1600]}
          sizes="(max-width: 1024px) 100vw, (max-width: 1546px) 40vw, 1200px"
          fetchpriority="high"
        />
      </div>
      <div class="xl:p-10 2xl:p-14">
        <div class="mb-10 lg:mb-16 xl:mb-20">
          <h1
            class="text-center font-alternate text-3xl font-medium uppercase lg:text-left xl:text-4xl"
          >
            {siteTitle}
          </h1>
          <p
            class="text-center font-alternate text-2xl lg:text-left xl:text-3xl"
          >
            {siteTagline}
          </p>
        </div>
        <div class="prose prose-xl prose-gray prose-invert">
          <HeroContent />
        </div>
        <ul class="mt-12 grid gap-6">
          {
            HeroFrontmatter.cta.map((item: TCta) => (
              <li class="text-3xl font-bold">
                <a href={item.href}>
                  <FancyUnderline>
                    {getSeparateFirstWord(item.text).first}
                  </FancyUnderline>{" "}
                  <span class="font-normal text-gray-200">
                    {getSeparateFirstWord(item.text).rest}
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="sticky bottom-10 mt-20 flex justify-center lg:col-span-2">
        <div
          class="aspect-square rounded-3xl bg-gray-800 bg-opacity-50 px-6 pb-0 pt-8"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-10 animate-bounce fill-current"
            ><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path
              d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
            ></path></svg
          >
        </div>
      </div>
    </section>

    <!-- BIO SECTION ---------------------------------------------------------------------------------------- -->
    <section class="container grid gap-10 lg:grid-cols-2" id="section-bio">
      <div>
        <div
          class="prose prose-gray prose-invert pl-0 prose-h2:font-alternate prose-h2:text-4xl prose-h2:font-medium lg:p-10 lg:pl-0"
        >
          <BioContent />
        </div>
      </div>
      <div class="full-bleed">
        <Image
          src={ImageBradleyNew}
          alt="Bradey, seated and smiling at the camera."
          class="sticky top-0 lg:top-20"
          widths={[300, 600, 800, 1000, 1200, 1600]}
          sizes="(max-width: 1024px) 100vw, (max-width: 1546px) 40vw, 1200px"
        />
      </div>
    </section>

    <!-- <section class="lg:cols-2 container grid gap-10">
      <div class="prose prose-gray prose-invert">
        <p>
          Bradley is currently fundraising towards his first studio album: the
          complete Orgelbüchlein of J. S. Bach.
        </p>
      </div>
      <div class="full-bleed max-w-full">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/miwISYDcnRk?si=nW8mjLq3GY-gBXPm"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          class="w-full aspect-video"
          allowfullscreen></iframe>
      </div>
    </section> -->

    <!-- MUSIC SECTION -------------------------------------------------------------------------------------- -->
    <section class="container grid" id="section-music">
      <div class="">
        <div class="grid gap-y-10">
          <div
            class="prose prose-gray prose-invert prose-h2:font-alternate prose-h2:text-4xl prose-h2:font-medium"
          >
            <MusicContent />
          </div>
          <js-fallback>
            <div
              class="prose prose-gray prose-invert rounded-2xl bg-gray-800 p-2 px-4 text-red-500"
            >
              <p>
                <span
                  class="relative top-[0.15em] mr-1 inline-block aspect-square w-4"
                  ><InfoIcon /></span
                >
                The Media Player requires Javascript. Please go to my YouTube channel
                for videos.
              </p>
            </div>
          </js-fallback>
          <MediaPlayer
            playlists={[
              { heading: "Video Tracks.", playlist: videoList },
              { heading: "Audio Tracks.", playlist: audioList },
            ]}
            client:idle
            client:only="preact"
          />
        </div>
      </div>
    </section>

    <!-- TEACHING SECTION ----------------------------------------------------------------------------------- -->
    <section class="container grid gap-10 lg:grid-cols-2" id="section-teaching">
      <div class="full-bleed order-2 lg:order-1">
        <Image
          src={ImageBradleyHands}
          alt="Close-up of Bradley's hands, playing on two different organ manuals"
          class="sticky top-10"
          widths={[300, 600, 800, 1000, 1200, 1600]}
          sizes="(max-width: 1024px) 100vw, (max-width: 1546px) 40vw, 1200px"
        />
      </div>
      <div class="order-1 lg:order-2 lg:p-10">
        <div
          class="prose prose-gray prose-invert grid gap-y-10 pl-0 prose-h2:mt-0 prose-h2:font-alternate prose-h2:text-4xl prose-h2:font-medium"
        >
          <div>
            <TeachingContent />
          </div>
        </div>
        <div class="mt-10 rounded-xl bg-gray-900 p-4">
          <h3
            class="relative text-center font-alternate text-xl font-normal text-gray-200 after:absolute after:-bottom-6 after:left-0 after:h-px after:w-full after:rounded-full after:bg-gray-400 sm:text-2xl"
          >
            What my students are saying
          </h3>
          <ul
            class="mt-12 flex list-none flex-col items-start gap-10 p-0 md:flex-col md:max-lg:gap-y-14 xl:flex-col 2xl:flex-row"
          >
            {
              testimonialsList.map((item) => (
                <li class="grid flex-1 gap-y-4 md:gap-x-10 md:max-lg:grid-cols-12">
                  <div class="flex items-center gap-6 md:max-lg:col-span-3 md:max-lg:flex-col md:max-lg:gap-y-2 md:max-lg:text-center">
                    <Image
                      src={item.data.image}
                      alt=""
                      width={200}
                      height={200}
                      class="aspect-square w-16 rounded-full"
                    />
                    <p class="flex flex-col gap-1 leading-3">
                      <span class="font-alternate font-semibold">
                        {item.data.name}
                      </span>
                      <span class="text-xs text-gray-400">
                        {item.data.lessonType}
                      </span>
                    </p>
                  </div>
                  <p class="prose-invert-prose-gray prose text-sm italic text-gray-300 md:max-lg:col-span-9">
                    {item.data.body}
                  </p>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>

    <!-- CONTACT SECTION ------------------------------------------------------------------------------------ -->
    <section class="container grid gap-10 lg:grid-cols-2" id="section-contact">
      <div>
        <div
          class="prose prose-gray prose-invert grid gap-y-10 pl-0 prose-h2:mt-0 prose-h2:font-alternate prose-h2:text-4xl prose-h2:font-medium lg:p-10 lg:pl-0"
        >
          <div>
            <ContactContent />
          </div>
          <js-fallback>
            <div
              class="prose prose-gray prose-invert rounded-2xl bg-gray-800 p-2 px-4 text-red-500"
            >
              <p>
                <span
                  class="relative top-[0.15em] mr-1 inline-block aspect-square w-4"
                  ><InfoIcon /></span
                >
                <span
                  >To prevent spam, the contact form requires Javascript. Please
                  enable Javascript, or contact me via Telegram.</span
                >
              </p>
            </div>
          </js-fallback>
          <ContactForm client:load client:only="preact" />
        </div>
      </div>
      <div class="full-bleed">
        <Image
          src={ImageBradleyOutside}
          widths={[300, 600, 800, 1000, 1200, 1600]}
          sizes="(max-width: 1024px) 100vw, (max-width: 1546px) 40vw, 1200px"
          alt="Bradley sitting outisde wearing sunglasses, looking to the side."
          class="sticky top-0"
        />
      </div>
    </section>
  </div>
</Layout>
